<!DOCTYPE html>
<html>
  <head>
    <style>
      html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .container {
        height: 100%;
        position: relative;
      }
      input {
        font-size: 12px;
      }
      h1 {
        color: #525454;
        font-size: 22px;
        margin: 0 0 10px 0;
        text-align: center;
      }
      #hide-listings,
      #show-listings {
        width: 90%;
        height: 30px;
        padding: 10px 10px 30px 10px;
      }
      #map {
        bottom:0px;
        height: 100%;
        left: 240px;
        position: absolute;
        right: 0px;
      }
      .options-box {
        background: #fff;
        border: 1px solid #999;
        border-radius: 3px;
        height: 100%;
        line-height: 35px;
        padding: 10px 10px 30px 10px;
        text-align: left;
        width: 240px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="options-box">
        <h1> My Way Points </h1>
        <div>
          <input id="show-listings" type="button" value="Show Way Points">
          <br>
          <input id="hide-listings" type="button" value="Hide Way Points">
        </div>
      </div>
      <div id="map"></div>
    </div>
    <script>

      // catching the context variable and save as a js variable

      var data1 = '{{data}}';
      var data = JSON.parse(data1.replace(/&quot;/g,'"'));
      console.log(data);  // testing

      var map;
      // Create a new blank array for all the listing markers.
      var markers = [];
      function initMap() {
        // Constructor creates a new map - only center and zoom are required.
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: data[0].latitude, lng: data[0].longitude},
          zoom: 13,
          mapTypeControl: false
        });
        var largeInfowindow = new google.maps.InfoWindow();

       // ----------

        var request = {
           origin: data[0].origin,
           destination: data[0].destination,
           travelMode: 'DRIVING'
        };

        var directionsService = new google.maps.DirectionsService();

        var rendererOptions = {
              map: map
           }
        var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);

         directionsService.route(request, function(response, status) {
          //console.log(response);
          if (status === 'OK') {
            directionsDisplay.setDirections(response);  // display the route between origin and destination
          }
        });

       //--------------

        // The following group uses the location array to create an array of markers on initialize.
        for (var i = 0; i < data.length; i++) {
          // Get the position from the location array.
          var position = {lat: data[i].latitude, lng: data[i].longitude};
          var title =  "<img src='http://openweathermap.org/img/w/"+ data[i].icon + ".png' style='width:80px;height:60px;'>"
                        +'<br> Temp: '+ data[i].temperature +"&deg;F"
                        + "<br> humidity: " +  data[i].humidity + "%"
                        +"<br> Pressure: " + data[i].pressure + "psi"
                        +" <br> Description: "+ data[i].description
                        +" <br> City: "+ data[i].city;
          console.log(position);
          console.log(title);
          console.log('-----');

          // Create a marker per location, and put into markers array.
           var marker = new google.maps.Marker({
            position: position,
            title: title,
            animation: google.maps.Animation.DROP,
            id: i
          });


          // Push the marker to our array of markers.
          markers.push(marker);
          // Create an onclick event to open an infowindow at each marker.
          marker.addListener('click', function() {
            populateInfoWindow(this, largeInfowindow);
          });
        }
        document.getElementById('show-listings').addEventListener('click', showListings);
        document.getElementById('hide-listings').addEventListener('click', hideListings);
      }
      // This function populates the infowindow when the marker is clicked. We'll only allow
      // one infowindow which will open at the marker that is clicked, and populate based
      // on that markers position.
      function populateInfoWindow(marker, infowindow) {
        // Check to make sure the infowindow is not already opened on this marker.
        if (infowindow.marker != marker) {

          infowindow.marker = marker;

          if (marker.getAnimation() == null) {
              marker.setAnimation(google.maps.Animation.BOUNCE);
              marker.setIcon('http://maps.google.com/mapfiles/ms/icons/yellow-dot.png');
          }

          infowindow.setContent('<div>' + marker.title + '</div>');
          infowindow.open(map, marker);
          // Make sure the marker property is cleared if the infowindow is closed.
          infowindow.addListener('closeclick', function() {
            if (marker.getAnimation() != null) {
                marker.setAnimation(null);
                marker.setIcon(null);
            }
            infowindow.marker = null;
          });
        }
      }

      // This function will loop through the markers array and display them all.
      function showListings() {
        var bounds = new google.maps.LatLngBounds();
        // Extend the boundaries of the map for each marker and display the marker
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
          bounds.extend(markers[i].position);
        }
        map.fitBounds(bounds);
      }
      // This function will loop through the listings and hide them all.
      function hideListings() {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);  // Doesn't delete a marker. Just remove it from the map object
        }
      }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0azh0XB63dYtAvwRO1kmtVpOgrTynUlU&v=3&callback=initMap">
    </script>

  </body>
</html>
